.bg {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/guyWithBackpack-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/guyWithBackpack-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/guyWithBackpack-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/guyWithBackpack-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/guyWithBackpack-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/guyWithBackpack-2x.jpg);
		}
	}
}
