.bg1 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/fogInForest-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/fogInForest-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/fogInForest-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/fogInForest-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/fogInForest-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/fogInForest-2x.jpg);
		}
	}
}
.bg2 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/mountainPeak-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/mountainPeak-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/mountainPeak-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/mountainPeak-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/mountainPeak-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/mountainPeak-2x.jpg);
		}
	}
}
.bg3 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/sunset-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/sunset-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/sunset-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/sunset-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/sunset-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/sunset-2x.jpg);
		}
	}
}
.bg4 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/evening-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/evening-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/evening-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/evening-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/evening-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/evening-2x.jpg);
		}
	}
}
.bg5 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/river-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/river-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/river-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/river-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/river-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/river-2x.jpg);
		}
	}
}
